<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Vue To Do List</title>
</head>
<body>
    <div id="root" class="container">
        <div class="logo">
            <img src="https://www.boolean.careers/images/misc/logo.png" alt="Logo Boolean">
        </div>

        <div class="new-todo">
            <input type="text" v-model="newToDo" placeholder="New To Do" @KeyUp.enter= "addToDo" >
            <button @click="addToDo">Aggiungi</button>
        </div>

        <div class="lista">
            <ul v-if="toDos.lenght > 0" >
                <li v-for='(todo, index) in toDos'>
                    {{todo}}
                    <input type="checkbox">
                    <i class="fas fa-times" @click="removeToDo(index)"></i>

                </li>
            </ul>
            <h2>Non ci sono to do </h2>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
    
</body>
</html>